/.idea
/.gradle
/gradle
/build
/classes
/out
/genresources
/packages-lock.json
RECUP_*.fla
game.storage
*.iml
*.log
.DS_Store
local.properties
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/classes/kotlin/jvm/main/ConfigModule.class
build/classes/kotlin/jvm/main/MainKt.class
build/classes/kotlin/jvm/main/Scene1$sceneInit$1.class
build/classes/kotlin/jvm/main/Scene1$sceneInit$2.class
build/classes/kotlin/jvm/main/Scene1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$10$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$10.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$11$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$11.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$2.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$3$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$3.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$4.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$5.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$6$1$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$6$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$6$2.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$6.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$7$1.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$7.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$8.class
build/classes/kotlin/jvm/main/Scene2$sceneInit$9.class
build/classes/kotlin/jvm/main/Scene2.class
build/classes/kotlin/jvm/main/Scene3$sceneInit$1.class
build/classes/kotlin/jvm/main/Scene3$sceneInit$2.class
build/classes/kotlin/jvm/main/Scene3.class
build/kotlin/compileKotlinJvm/build-history.bin
build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/counters.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlinJvm/last-build.bin
build/platforms/android/.gradle/7.2/executionHistory/executionHistory.bin
build/platforms/android/.gradle/7.2/executionHistory/executionHistory.lock
build/platforms/android/.gradle/7.2/fileHashes/fileHashes.lock
build/platforms/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.2/executionHistory/executionHistory.bin
.gradle/7.2/executionHistory/executionHistory.lock
.gradle/7.2/fileHashes/fileHashes.bin
.gradle/7.2/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/kotlin/compileKotlinJvm/build-history.bin
build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-attributes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/package-parts.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/proto.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/subtypes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/subtypes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/supertypes.tab
build/kotlin/compileKotlinJvm/caches-jvm/jvm/kotlin/supertypes.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/counters.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/file-to-id.tab_i
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.keystream.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/id-to-file.tab_i
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlinJvm/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlinJvm/last-build.bin
